html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.filter-button:hover {
    background-color: #2b9bf7;
    color: white;
}

.dropdown-toggle:hover {
    background-color: #2b9bf7;
    color: white;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }