html {
    scroll-behavior: smooth;
}

.pagebg {
    background-color: rgba(120, 121, 193, 0.5);
}

.backgroundImg {
    background-image: url("../images/background.jpg");
}

.bg-gray {
    background-color: #eeeeee;
    border-radius: 20px;
}

.navbar {
    background-color: #eeeeee;
}

.navbar a{
    color: #5a5bbf;
    font-size: 20px;
    font-weight: bold;
}

.navbar a:hover {
    background: #efbf2b;
    border-radius: 5px;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.active {
    background: #efbf2b;
    border-radius: 5px;
}

.head {
    color: white;
    background-image: url("../images/coverDark.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
}

.featHounds {
    width: 65%;
    margin: 0 auto;
}

.availableHounds {

    margin: 0 auto;
}

.imgCarosel {
    width: 100%;
    margin: 0 auto;
}

.carousel-item {
    height: 50vh;
    background-color: transparent;
    overflow: hidden;
}

.fontIcon {
    height: 50px;
    width: 50px;
    background-color: #5a5bbf;
    border-radius: 10px;
}

.alignImg {
    margin: 0 auto;
}

#quote {
    background: #7172be;
    color: #ffffff;
    border-radius: 20px;
    width: 70%;
    margin-left: 15%;
}

footer {
    padding: 2%;
    background:#7172be;
    color: #ffffff;
}

footer a{
    color: #efbf2b;
}

footer a:hover{
    color: #00beff;
}

.blockquote-footer {
    color: #ffffff;
}

.adopt {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../images/bassetCover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: white;
}

.fosterRelinquish {
    background-color: rgba(120, 121, 193, 0.35);
    padding: 20px;
    border-radius: 10px;
    height: 100%;
}

.adoptDescription {
    background-color: #7172be;
    padding: 3%;
    color: #eeeeee;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

#auctionJumbo {
    color: white;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url("../images/SillyMoosePhotography-11.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.beer {
    background-image: url("../../images/beer.jpeg");
    background-size: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.733);
    border-radius: 2%;
    padding: 3%;
    color:white;
}

.red {
    color: red;
}

.hearts {
    background-image: url("../../images/pinkhearts.jpeg");
    background-size: cover; 
}

.overlayWhite {
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 20px;
    padding: 2%;
    margin: 2%;
    color:rgb(168, 18, 111);
}