body {
    background-color:#413478;
    color: #e39b0e;
}

.container {
    padding: 10%;
}

.dark-mode {
    background: #282828;
    color: #ff2e88;
}

button {
    margin-top: 2%;
    margin-left: 70%;
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
