.dark-mode {
    background: #282828;
    color: #ff2e88;
}

#dark {
    margin-top: 2%;
    margin-left: 70%;
}

table,
thead,
tr,
tbody,
th,
td {
    text-align: center;
}

.table td {
    text-align: left;
}

#footerText {
    color: #ffffff;
}